.footer {
	background-color: #1f1f1f;
	padding: 60px 0;
	ul {
		list-style: none;
		margin: 0 auto;
		max-width: 690px;
	}
	li {
		color: rgba(255,255,255,.8);
		display: inline-block;
		padding-right: 20px;
		text-transform: uppercase;
		font-size: 16px;
	}
	span {
		color: rgba(255,255,255,.4);
		text-align: center;
		display: block;
		padding-top: 60px;
	}
	@media (max-width: 768px) {
		text-align: center;
		li {
			font-size: 12px;
			line-height: 20px;
			display: block;
			text-align: center;
			padding-left: 0;
		}
		span {
			text-align: center;
			font-size: 10px;
			padding-top: 30px;
		}
	}
}