.page-index {

	.conserve-land {
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		padding: 60px 30px;
		h1 {
			font-family: EB Garamond;
			font-size: 36px;
		}
		p {
			font-size: 18px;
			a {
				color: #36b3a8;
				cursor: pointer;
			}
		}

		@media (max-width: 768px) {
			padding: 10px 60px;
			h1 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
				line-heihgt: 24px;
			}
		}
	}

	.picture-text-grid {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 30px 60px;
		text-align: center;
		p {
			margin: 0 auto;
			padding: 10px 60px 20px 60px;
			font-size: 20px;
			line-height: 30px;
		}
		h1 {
			color: #bdbdbd;
			letter-spacing: .3em;
			font-size: 20px;
			text-transform: uppercase;
		}
		.top {
			width: 100%;
			display: flex;
			padding-bottom: 60px;
			.top-left {
				width: 50%;
				img {
					width: 100%;
				}
			}
			.top-right {
				width: 50%;
				padding: 60px 0;
				text-align: center;
			}
		}
		.bottom {
			display: flex;
			padding: 60px 0;
			width: 100%;
			.bottom-left {
				width: 50%;
				padding: 60px 0;
				text-align: center;
			}
			.bottom-right {
				width: 50%;
				img {
					width: 100%;
				}
			}
		}

		@media (max-width: 768px) {
			display: flex;
			overflow: hidden;
			max-width: 768px;
			flex-direction: column;
			padding: 0 20px;
			p {
				line-height: 20px;
				font-size: 14px;
				padding: 10px 0 20px 0;
			}
			h1 {
				font-size: 18px;
				line-height: 20px;
			}
			.top, .bottom {
				display: flex;
				width: 100%;
				flex-direction: column;
				padding: 0;
				.top-left,  .bottom-right {
					display: none;
				}
				.top-right, .bottom-left {
					width: 100%;
					border-bottom: 1px solid #bdbdbd;
					padding-top: 30px;
				}
				.bottom-left {
					border: none;
				}
			}
		}
	}
}


