.subscribe {
	background-color: #f7f7f7;
  font-weight: 400;
  padding: 60px 0;
  text-align: center;
  color: black;
	  @media (max-width: 768px) {
				padding: 30px 20px;
				font-size: 12px;
				h1 {
					font-size: 16px;
				}
				p {
					font-size: 14px;
				}
		}
}

.subscribe-form {
	text-align: center;
	input {
		font-size: 14px;
	  padding: 14px;
	  width: 200px;
	  background: #fff;
	  border: 1px solid rgba(0,0,0,.12);
	  margin: 0;
	  display: inline-block;
	}
		@media (max-width: 768px){
			input {
				font-size: 12px;
	  		padding: 10px;
	  		width: 150px;
	  		background: #fff;
	  		border: 1px solid rgba(0,0,0,.12);
	  		margin: 0;
	  		display: inline-block;
		  }
		}
}

